/* 웹 폰트 */
@font-face {
    font-family: 'SBAggroB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 모든 폰트를 웹 폰트로 변경 */
*{font-family: 'SBAggroB';}

.infobox{
    margin-top : 50px;
    display : flex;
    justify-content : space-between;
}
.btitle{
    margin-top : 20px;
    text-align : center;
    font-size : 25px;
}

.bcontent{
    margin-top : 15px;
    mid-height : 300px
}